{{#if comic}}
  <div class="comic-container">
    <div class="comic-details">
      <div class="comic-date">
        <p>Comic published on {{comic.day}}/{{comic.month}}/{{comic.year}}</p>
      </div>
      <div class="comic-views">Views: {{views}}</div>
    </div>
    <div class="comic-title">{{comic.title}}</div>
    <div class="comic-image">
      <img width="100%" src="{{comic.img}}" data-num="{{comic.num}}" alt="{{comic.alt}}" />
    </div>
    {{#if comic.transcript}}
      <div class="comic-transcript">
        {{#each comic.transcript}}
        <div>
          <p>{{this}}</p>
        </div>
        {{/each}}
      </div>
    {{/if}}
    <div class="comic-actions">
      <a href="/{{previous}}" alt="Previous Comic">Previous</a>
      <a href="/random" alt="Random Comic">Random</a>
      <a href="/{{next}}" alt="Next Comic">Next</a>
    </div>
  </div>
{{else}}
  <div>No Comic found!</div>
{{/if}}